In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\acer\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: regex in c:\users\acer\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: tqdm in c:\users\acer\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: joblib in c:\users\acer\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: click in c:\users\acer\anaconda3\lib\site-packages (from nltk) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [58]:
import numpy as np
import pandas as pd

In [59]:
df=pd.read_csv('SPAM.csv')
df.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [60]:
df['spam']=df['type'].map({'spam':0,'ham':1}).astype(int)

In [61]:
def tok(s):
    return s.split()

In [62]:
df['text']=df['text'].apply(tok)

In [63]:
df.head()

   type                                               text  spam
0   ham  [Go, until, jurong, point,, crazy.., Available...     1
1   ham               [Ok, lar..., Joking, wif, u, oni...]     1
2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...     0
3   ham  [U, dun, say, so, early, hor..., U, c, already...     1
4   ham  [Nah, I, don't, think, he, goes, to, usf,, he,...     1

In [64]:
from nltk.stem.snowball import SnowballStemmer
p=SnowballStemmer('english',ignore_stopwords=False)

In [65]:
def stem(text):
    return [p.stem(i) for i in text]

In [66]:
df['text']=df['text'].apply(stem)

In [67]:
df.head()

   type                                               text  spam
0   ham  [go, until, jurong, point,, crazy.., avail, on...     1
1   ham                 [ok, lar..., joke, wif, u, oni...]     1
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     0
3   ham  [u, dun, say, so, earli, hor..., u, c, alreadi...     1
4   ham  [nah, i, don't, think, he, goe, to, usf,, he, ...     1

In [68]:
from nltk.stem import WordNetLemmatizer
l= WordNetLemmatizer()

In [69]:
def lem(text):
    return [l.lemmatize(i, pos ="a") for i in text]

In [70]:
df['text']=df['text'].apply(lem)

In [71]:
from nltk.corpus import stopwords
sw = stopwords.words('english')

In [72]:
def stop(s):
    return [ i for i in s if not i in sw ]

In [73]:
df['text']=df['text'].apply(stop)
df['text']=df['text'].apply(' '.join)

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer
t=TfidfVectorizer()
y=df.spam.values
x=t.fit_transform(df['text'])

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [76]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy:",acc_log )

accuracy: 87.5

In [77]:
from sklearn.svm import LinearSVC
linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

accuracy: 87.5